{{ ansible_managed|comment(decoration='# ') }}

[Unit]
Description=Berkeley Internet Name Domain Domain Name Server
Documentation=man:named(8)
Before=nss-lookup.target
After=network.target
After=named-setup-rndc.service
Wants=nss-lookup.target
Wants=named-setup-rndc.service

[Service]
{% if bind__service_environment is defined %}
EnvironmentFile=-{{ bind__service_environment }}
{% endif %}
PIDFile={{ bind__pid_file }}
ExecStartPre=/usr/bin/env install --directory {{ bind__service_run_directory }} --owner {{ bind__service_user }} --group {{ bind__service_group }} --mode 755
ExecStart={{ bind__service_executable }} -f -u {{ bind__service_user }} -c {{ bind__config_file }} $OPTIONS
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop

[Install]
WantedBy=multi-user.target
