{%- import '_macros.j2' as macros with context -%}
{{ ansible_managed|comment(decoration='// ') }}

// This file contains the zone declarations

{% for name, zone in bind__zones|dictsort %}
{{ macros.zone(name, zone) }}

{% endfor %}
